.container{
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(138, 147, 156);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0, 0, 0.1);
}
.container input{
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px;
    border-radius: 8px;
}
.container button{
    padding: 0.8rem 1.5rem;
    background-color: rgb(175, 90, 82);
    color: #020202;

}

.container ul{
    list-style: none;
    padding: 0;
}
.container li{
    padding: 5px;
    margin-bottom: 5px;
    background-color: #7a5353;
    border: 1px solid rgb(129, 86, 0);


}