#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(77, 138, 165);
  color: #000000;
  
}

